.search-result-item{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;

    padding: 2.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.2rem 4.8rem rgba(0, 0, 0, 0.075);
}

.search-result-item .container--bus-general-details {
    width: 32%;
}

.search-result-item .container--bus-time-details {
    width: 42%;
}

.search-result-item .container--bus-seat-cost {
    width: 11%;
}

.search-result-item .container--bus-seat-available {
    width: 15%;
}

/* BUS GENERAL DETAILS */

.search-result-item .bus-name {
    margin-bottom: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
}

.search-result-item .bus-seat-config-name {
    margin-bottom: 1.2rem;
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.search-result-item .container--bus-rating-review {
    display: flex;
    gap: 2.4rem;
}

/* BUS RATING */

.search-result-item .container--bus-rating, .container--bus-reviews {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.search-result-item .container--bus-rating {
    padding: 0.2rem 0.8rem 0.2rem 0.5rem;

    color: var(--white-color);
    background-color: green;

    border-radius: 0.2rem;

    font-size: 1.2rem;
}

.search-result-item .container--bus-reviews {
    font-size: 1.4rem;
}

/* TRIP DETAILS */

.search-result-item .container--bus-time-details {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 4.8rem;
    column-gap: 2.4rem;
    align-items: center;
}

.search-result-item .container--bus-time-details::before {
    position: absolute;
    left: 0.8rem;
    content: "";
    display: block;
    height: 60%;
    width: 0.1rem;
    background-color: var(--primary-color);
}

.search-result-item .trip-duration {
    position: absolute;
    left: 1.2rem;
    transform: translate(-50%);
    
    background-color: var(--background-color);
    color: var(--dark-grey);
    font-size: 1.4rem;  
}

.search-result-item .container--dropping-time {
    grid-row: 2;
}

.search-result-item .container--boarding-time, .container--dropping-time {
    position: relative;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    
    font-size: 1.8rem;
}

.search-result-item .container--boarding-time {
    font-weight: 600;
}

.search-result-item .container--location-icon {
    left: -2.4rem;
    
    display: flex;
    align-items: center;
    height: 100%;

    color: var(--primary-color);
}

.search-result-item .location-icon {
    background-color: var(--background-color);
}

.search-result-item .boarding-location, .dropping-location {
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.search-result-item .container--bus-seat-cost {
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.search-result-item .dropping-days {
    position: absolute;
    right: -2rem;
    top : -0.4rem;

    width: 2.2rem;
    color: var(--application-red);
    
    font-size: 1.2rem;
    font-weight: 600;
}

/* BUS SEAT COST */

.search-result-item .seat-cost-currency, .bus-seat-cost {
    color: var(--black-color);
}

.search-result-item .bus-seat-cost {
    font-size: 1.6rem;
    font-weight: 600;
}

/* BUS SEAT AVAILABLE */

.search-result-item .container--bus-seat-available {
    text-align: end;
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.search-result-item .bus-seat-available {
    color: var(--black-color);
    font-weight: 600;
}

.search-result-item .btn--view-seats, .btn--view-seats:visited {
    cursor: pointer;

    position: absolute;
    bottom: 0;
    right: 0;
    
    padding: 0.8rem 3.2rem;

    color: var(--white-color);
    background-color: var(--primary-color);

    border: none;
    border-radius: 0.4rem 0 0.4rem 0;

    font-size: 1.6rem;

    transition: all var(--transition-time);
}

.search-result-item .btn--view-seats:hover, .btn--view-seats:active {
    background-color: var(--primary-color-shade1);
}
