:root {
    --primary-color : #5D6AB3;

    --primary-color-shade1 : #545fa1;
    --primary-color-shade5 : #2f355a;
    --primary-color-shade7 : #1c2036;
    --primary-color-shade9 : #eff0f7;

    --primary-color-tint2 : #7d88c2;
    --primary-color-tint4 : #9ea6d1;

    --background-color : #fff;

    --white-color : #fff;
    --light-grey : #DDDDDD;
    --light-grey-shade1 : #BBB;
    --dark-grey : #767676;
    --dark-grey-shade1 : #444;
    --black-color : #000;

    --overlay-color : rgb(0, 0, 0, 0.75);

    --application-red : #EE0000;

    --message-success--dark : #588B3F;
    --message-success--light : #78A165;
    --message-success--btn-close : #a3d18d;
    --message-success--background : #F1F8F1;

    --message-error--dark : #B1312B;
    --message-error--light : #CC7573;
    --message-error--btn-close : #E6B4AE;
    --message-error--background : #FEF3F7;

    --message-warning--dark : #DF8B12;
    --message-warning--light : #ECB971;
    --message-warning--btn-close : #FBD64D;
    --message-warning--background : #FFFFF3;

    --seat--booked--line-color: var(--light-grey-shade1);
    --seat--booked--fill-color: var(--light-grey-shade1);

    --seat--seater--default-line-color : #5d6ab3;
    --seat--seater--default-fill-color : rgba(0,0,0,0);
    --seat--seater--selected-line-color : #dfe1f0;
    --seat--seater--selected-fill-color : #5d6ab3;

    --seat--sleeper--default-line-color : #5d6ab3;
    --seat--sleeper--default-fill-color : rgba(0,0,0,0);
    --seat--sleeper--selected-line-color : #dfe1f0;
    --seat--sleeper--selected-fill-color : #5d6ab3;

    --seat--driver--default-line-color : var(--light-grey-shade1);
    --seat--driver--default-fill-color : var(--background-color);
    --seat--driver--selected-line-color : rgba(0,0,0,0);
    --seat--driver--selected-fill-color : rgba(0,0,0,0);

    --transition-time : 0.3s;
}