* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    /* box-shadow: inset 0 0 2px red; */
}

html {
    font-size: 62.5%;
    /* font-size: 20%; */

    
    color : var(--black-color);
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.pl-sm {
    padding-left: 2.4rem;
}


/********** BUTTON COMMON **********/
.btn {
    text-decoration: none;
    transition: all var(--transition-time);
}

.btn.btn--link, .btn.btn--link:link, .btn.btn--link:visited {
    color: var(--black-color);
}

.btn.btn--link:hover, .btn.btn--link:active {
    color: var(--primary-color);
}

.btn.btn.btn--primary.btn-full {
    width: 100%;
    padding: 1.2rem 3.2rem;
}

.btn.btn--primary, .btn.btn--primary:visited {
    cursor: pointer;

    color: var(--white-color);
    background-color: var(--primary-color);

    padding: 0.8rem 3.2rem;
    border: none;
    border-radius: 0.4rem;
    font-size: 1.6rem;
}

.btn.btn--primary:hover, .btn.btn--primary:active {
    color: var(--white-color);
    background-color: var(--primary-color-shade1);
}


/********** FORM ERROR **********/
.error-message--form {
    position: absolute;
    bottom: -1.8rem;

    color: var(--application-red);

    font-size: 1.2rem;

    opacity: 0;

    transition: opacity var(--transition-time) ease-in-out;
}

.error-message--form.show {
    opacity: 1;
}


/********** TOASTER MESSAGE **********/
.section--message {
    position: relative;
}

.container--message {
    position: absolute;
    right: 2.4rem;
    z-index: 999;

    display: flex;
    flex-direction: column;

    max-width: 30rem;
    width: 100%;
    
    list-style: none;
}

.message-card {
    display: flex;
    gap : 2.4rem;
    align-items: center;
    justify-content: center;

    margin-bottom: 0.8rem;
    padding: 1.2rem;


    border-radius: 0.4rem;

    background-color: var(--background-color);

    box-shadow: 0 2.4rem 6.4rem rgba(0, 0, 0, 0.1);

    transition: all var(--transition-time);
    transform-origin: top;
}

.message-card.hidden-out {
    opacity: 0;
    transform: scale(0,0);
    height: 0;
    padding: 0;
    margin-bottom: 0;
}

.message-card.hidden-in {
    opacity: 0;
}


.container--message-body {
    flex-grow: 1;
}

.container--message-icon {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3.6rem;
}

.message-title {
    margin-bottom: 0.4rem;

    font-size: 1.4rem;
    font-weight: 600;
}

.message-content {
    font-size: 1.2rem;
    font-weight: 500;
}

.btn--message-close {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;

    font-size: 1.8rem;

    transition: all var(--transition-time);
}

.btn--message-close > ion-icon {
    --ionicon-stroke-width : 6.2rem;
}

.message-card {
    background-color: var(--background-color);
    border: var(--dark-grey) solid 0.1rem;
}

.message-card .message-title {
    color: var(--black-color);
}

.message-card .message-content {
    color: var(--dark-grey);
}

.message-card .container--message-icon {
    color: var(--black-color);
}

.message-card .btn--message-close,
.message-card .btn--message-close:visited {
    color: var(--dark-grey);
}

.message-card .btn--message-close:hover,
.message-card .btn--message-close:active {
    color: var(--black-color);
}


.message-card.message-card--success {
    background-color: var(--message-success--background);
    border: var(--message-success--dark) solid 0.1rem;
}

.message-card.message-card--success .message-title {
    color: var(--message-success--dark);
}

.message-card.message-card--success .message-content {
    color: var(--message-success--light);
}

.message-card.message-card--success .container--message-icon {
    color: var(--message-success--dark);
}

.message-card.message-card--success .btn--message-close,
.message-card.message-card--success .btn--message-close:visited {
    color: var(--message-success--btn-close);
}

.message-card.message-card--success .btn--message-close:hover,
.message-card.message-card--success .btn--message-close:active {
    color: var(--message-success--dark);
}


.message-card.message-card--error {
    background-color: var(--message-error--background);
    border: var(--message-error--dark) solid 0.1rem;
    
}

.message-card.message-card--error .message-title {
    color: var(--message-error--dark);
}

.message-card.message-card--error .message-content {
    color: var(--message-error--light);
}

.message-card.message-card--error .container--message-icon {
    color: var(--message-error--dark);
}

.message-card.message-card--error .btn--message-close,
.message-card.message-card--error .btn--message-close:visited {
    color: var(--message-error--btn-close);
}

.message-card.message-card--error .btn--message-close:hover,
.message-card.message-card--error .btn--message-close:active {
    color: var(--message-error--dark);
}


.message-card.message-card--warning {
    background-color: var(--message-warning--background);
    border: var(--message-warning--dark) solid 0.1rem;
}

.message-card.message-card--warning .message-title {
    color: var(--message-warning--dark);
}

.message-card.message-card--warning .message-content {
    color: var(--message-warning--light);
}

.message-card.message-card--warning .container--message-icon {
    color: var(--message-warning--dark);
}

.message-card.message-card--warning .btn--message-close,
.message-card.message-card--warning .btn--message-close:visited {
    color: var(--message-warning--btn-close);
}

.message-card.message-card--warning .btn--message-close:hover,
.message-card.message-card--warning .btn--message-close:active {
    color: var(--message-warning--dark);
}

