.panel--home .section--hero {
    background: linear-gradient(rgb(0,0,0,0.3) 0%, rgb(0,0,0,0.3) 100%), url('../../img/hero-section-image.webp');
    background-position: center 75%;
    background-repeat: no-repeat;
    background-size: cover;
}

.panel--home .hero-section-title {
    display: block;
    padding: 25.6rem 0 12.8rem 0;
    font-size: 6.2rem;
    line-height: 8.6rem;
    font-weight: 700;
    color: var(--white-color);

}

.panel--home .hero-section-title>div {
    display: block;
}

.wrapper--search-bar {
    transform: translateY(30%);
    padding: 0 2.4rem;
}