.panel--search .section--search-bar {
    margin-bottom: 3.2rem;
}


.panel--search .container--search-panel-main {
    position: relative;

    display: flex;
    align-items: start;
    gap: 1.4rem;
}

.panel--search .section--filters {
    position: sticky;
    top: 1.2rem;
    width: 15%;
}

.panel--search .scrollable {
    max-height: 100vh;
    overflow-y: scroll;
}

.panel--search .section--search-result {
    width: 85%;
}

/********** SEARCH FILTER **********/

.panel--search .header--filter {
    display: flex;
    gap: 1.2rem;
    align-items: end;

    margin-bottom: 3.2rem;

    font-size: 1.6rem;
    font-weight: 600;

    text-transform: uppercase;
}

.panel--search .btn--filter-reset, .btn--filter-reset:visited {
    cursor: pointer;

    color: var(--primary-color);
    font-size: 1.2rem;

    transition: all var(--transition-time);
}

.panel--search .btn--filter-reset:hover, .btn--filter-reset:active {
    color: var(--primary-color-shade1);
}

.panel--search .filter-section {
    margin-bottom: 3.2rem;
}

.panel--search .filter-heading {
    margin-bottom: 1.2rem;

    font-size: 1.4rem;
    font-weight: 600;
}

.panel--search .filter-check-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    list-style: none;

    font-size: 1.4rem;
}

.panel--search .filter-check-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;

}

/********** SEARCH RESULT **********/
.panel--search .search-result-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.panel--search .search-result-message {
    text-align: center;
    font-size: 1.4rem;
    color: var(--dark-grey);
}

/********** SEAT SELECTOR OVERLAY **********/
.panel--search .overlay--bus-seat-selection {
    pointer-events: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    top : 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--overlay-color);
    opacity: 0;
    transition: opacity var(--transition-time);
}

.panel--search .overlay--bus-seat-selection.show {
    pointer-events: auto;
    opacity: 1;
}

.panel--search .bus-seat-selection {
    width: 100%;
    max-width: 100rem;
    margin: 2.4rem;
    padding: 1.6rem 2.4rem;
    border-radius: 0.4rem;
    background-color: var(--background-color);
}

.panel--search .bus-seat-selection-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.panel--search .bus-seat-selection-header {
    font-size: 2rem;
}

.panel--search .btn--close-bus-seat-selection {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;

    font-size: 1.8rem;

    transition: all var(--transition-time);
}

.panel--search .btn--close-bus-seat-selection > ion-icon {
    --ionicon-stroke-width : 3.6rem;
}