.section--search-bar {
    margin-bottom: 3.2rem;
}


.container--search-panel-main {
    position: relative;

    display: flex;
    align-items: start;
    gap: 1.4rem;
}

.section--filters {
    position: sticky;
    top: 1.2rem;
    width: 15%;
}

.scrollable {
    max-height: 100vh;
    overflow-y: scroll;
}

.section--search-result {
    width: 85%;
}

/********** SEARCH FILTER **********/

.header--filter {
    display: flex;
    gap: 1.2rem;
    align-items: end;

    margin-bottom: 3.2rem;

    font-size: 1.6rem;
    font-weight: 600;

    text-transform: uppercase;
}

.btn--filter-reset, .btn--filter-reset:visited {
    cursor: pointer;

    color: var(--primary-color);
    font-size: 1.2rem;

    transition: all var(--transition-time);
}

.btn--filter-reset:hover, .btn--filter-reset:active {
    color: var(--primary-color-shade1);
}

.filter-section {
    margin-bottom: 3.2rem;
}

.filter-heading {
    margin-bottom: 1.2rem;

    font-size: 1.4rem;
    font-weight: 600;
}

.filter-check-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    list-style: none;

    font-size: 1.4rem;
}

.filter-check-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;

}

/********** SEARCH RESULT **********/
.search-result-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}