:root {
    --primary-color : #5D6AB3;
    --primary-color-shade1 : #545fa1;
    --primary-color-shade5 : #2f355a;
    --primary-color-shade7 : #1c2036;
    --primary-color-shade9 : #eff0f7;

    --primary-color-tint4 : #9ea6d1;

    --background-color : #fff;

    --white-color : #fff;
    --light-grey : #DDDDDD;
    --dark-grey : #767676;
    --black-color : #000;

    --application-red : #EE0000;

    --transition-time : 0.3s;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;


    /* box-shadow: inset 0 0 2px red; */
}

html {
    font-size: 62.5%;
    /* font-size: 20%; */
    
    color : var(--black-color);
}

body {
    background-color: var(--background-color);
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

.container {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.pl-sm {
    padding-left: 2.4rem;
}

.btn {
    text-decoration: none;
    transition: all var(--transition-time);
}

.btn.btn--link, .btn.btn--link:link, .btn.btn--link:visited {
    color: var(--black-color);
}

.btn.btn--link:hover, .btn.btn--link:active {
    color: var(--primary-color);
}


/***********************/
/* COMMON HEADER STYLE */
/***********************/

.section--header {
    margin : 2.4rem 0 4.8rem 0; 
}

.container--header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container--header .logo {
    width: 16rem;
}

.nav--header>ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5.2rem;
    
    list-style: none;
    font-size: 1.8rem;
    font-weight: 600;
}

.container--user-profile {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.user-profile-pic {
    height: 5rem;
    border-radius: 50%;
    border: 0.2rem solid transparent;
    transition: all var(--transition-time);
}

.container--user-profile:hover .user-profile-pic {
    border: 0.2rem solid var(--primary-color);
    filter: brightness(90%);
}


/***********************/
/*     SEARCH BAR      */
/***********************/

.section--search-bar {
    margin-bottom: 3.2rem;
}

.form--search-bar {
    position: relative;
    display: grid;
    grid-template-columns: 1.6fr 1.6fr 1fr 1fr;
    gap: 3.2rem;

    width: 100%;
    margin-left: auto;

    border-radius: 0.4rem;
    box-shadow: inset 0 0 0 0.1rem var(--light-grey);
}

.form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0 0.4rem;
}

.form--search-bar label {
    font-size: 1.4rem;
    margin: 0 0 0.4rem 0.1rem;
    color: var(--dark-grey);
}


.form--search-bar input {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    padding-bottom: 0.2rem;

    height: 2.4rem;
    
    background-color: var(--background-color);
    
    border-bottom: 0.2rem solid transparent;
    transition: all var(--transition-time);
}

.form--search-bar input:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--primary-color);
}

.form--search-bar .btn--search ion-icon {
    height: 1.8rem;
    width: 1.8rem;
    --ionicon-stroke-width: 6.2rem;
}

.form--search-bar .btn--search, .form--search-bar .btn--search:visited {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 0 1rem;

    height: 100%;
    width: 100%;
    
    background-color: var(--primary-color);
    color: var(--white-color);

    border: none;
    border-radius: 0 0.4rem 0.4rem 0;

    font-weight: 700;
    font-family: inherit;
    font-size: 1.6rem;
}

.form--search-bar .btn--search:hover, .form--search-bar .btn--search:active {
    background-color: var(--primary-color-shade1);
}

.form-group--dropping-point::after, .form-group--boarding::after {
    position: absolute;
    display: block;
    top: 10%;
    right: -1.6rem; /* Gap between element is 3.2rem this code centers after to mid of gap */
    content: "";
    height: 80%;
    width: 0.1rem;
    background-color: var(--light-grey);
}

.btn--toggle-src-dest {
    cursor: pointer;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    right: -1.6rem;
    transform: translate(50%, -50%);
    
    height: 2.4rem;
    width: 2.4rem;

    color: var(--dark-grey);
    background-color: var(--background-color);
    
    border: none;

    z-index: 2;
}

.btn--toggle-src-dest > ion-icon {
    height: 1.6rem;
    width: 1.6rem;
    --ionicon-stroke-width: 5.2rem;
}


/***********************/
/*    MAIN Container   */
/***********************/

.container--main {
    position: relative;

    display: flex;
    align-items: start;
    gap: 1.4rem;
}

.section--filters {
    position: sticky;
    top: 1.2rem;
    width: 15%;
}

.scrollable {
    max-height: 100vh;
    overflow-y: scroll;
}

.section--search-result {
    width: 85%;
}


/***********************/
/*    SEARCH FILTER    */
/***********************/

.header--filter {
    display: flex;
    gap: 1.2rem;
    align-items: end;

    margin-bottom: 3.2rem;

    font-size: 1.6rem;
    font-weight: 600;

    text-transform: uppercase;
}

.btn--filter-reset, .btn--filter-reset:visited {
    cursor: pointer;

    color: var(--primary-color);
    font-size: 1.2rem;

    transition: all var(--transition-time);
}

.btn--filter-reset:hover, .btn--filter-reset:active {
    color: var(--primary-color-shade1);
}

.filter-section {
    margin-bottom: 3.2rem;
}

.filter-heading {
    margin-bottom: 1.2rem;

    font-size: 1.4rem;
    font-weight: 600;
}

.filter-check-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;

    list-style: none;

    font-size: 1.4rem;
}

.filter-check-item {
    display: flex;
    align-items: center;
    gap: 0.8rem;

}

/***********************/
/*    SEARCH RESULT    */
/***********************/

.search-result-list {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

/* SEARCH ITEM */

.search-result-item{
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;

    padding: 2.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 1.2rem 4.8rem rgba(0, 0, 0, 0.075);
}

.container--bus-general-details {
    width: 32%;
}

.container--bus-time-details {
    width: 42%;
}

.container--bus-seat-cost {
    width: 11%;
}

.container--bus-seat-available {
    width: 15%;
}

/* BUS GENERAL DETAILS */

.bus-name {
    margin-bottom: 0.4rem;
    font-size: 2rem;
    font-weight: 600;
}

.bus-seat-config-name {
    margin-bottom: 1.2rem;
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.container--bus-rating-review {
    display: flex;
    gap: 2.4rem;
}

/* BUS RATING */

.container--bus-rating, .container--bus-reviews {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.container--bus-rating {
    padding: 0.2rem 0.8rem 0.2rem 0.5rem;

    color: var(--white-color);
    background-color: green;

    border-radius: 0.2rem;

    font-size: 1.2rem;
}

.container--bus-reviews {
    font-size: 1.4rem;
}

/* TRIP DETAILS */

.container--bus-time-details {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 3fr;
    row-gap: 4.8rem;
    column-gap: 2.4rem;
    align-items: center;
}

.container--bus-time-details::before {
    position: absolute;
    left: 0.8rem;
    content: "";
    display: block;
    height: 60%;
    width: 0.1rem;
    background-color: var(--primary-color);
}

.trip-duration {
    position: absolute;
    left: 1.2rem;
    transform: translate(-50%);
    
    background-color: var(--background-color);
    color: var(--dark-grey);
    font-size: 1.4rem;  
}

.container--dropping-time {
    grid-row: 2;
}

.container--boarding-time, .container--dropping-time {
    position: relative;
    display: flex;
    gap: 1.2rem;
    align-items: center;
    
    font-size: 1.8rem;
}

.container--boarding-time {
    font-weight: 600;
}

.container--location-icon {
    left: -2.4rem;
    
    display: flex;
    align-items: center;
    height: 100%;

    color: var(--primary-color);
}

.location-icon {
    background-color: var(--background-color);
}

.boarding-location, .dropping-location {
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.container--bus-seat-cost {
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.dropping-days {
    position: absolute;
    right: -2rem;
    top : -0.4rem;

    width: 2.2rem;
    color: var(--application-red);
    
    font-size: 1.2rem;
    font-weight: 600;
}

/* BUS SEAT COST */

.seat-cost-currency, .bus-seat-cost {
    color: var(--black-color);
}

.bus-seat-cost {
    font-size: 1.6rem;
    font-weight: 600;
}

/* BUS SEAT AVAILABLE */

.container--bus-seat-available {
    text-align: end;
    color: var(--dark-grey);
    font-size: 1.4rem;
}

.bus-seat-available {
    color: var(--black-color);
    font-weight: 600;
}

.btn--view-seats, .btn--view-seats:visited {
    cursor: pointer;

    position: absolute;
    bottom: 0;
    right: 0;
    
    padding: 0.8rem 3.2rem;

    color: var(--white-color);
    background-color: var(--primary-color);

    border: none;
    border-radius: 0.4rem 0 0.4rem 0;

    font-size: 1.6rem;

    transition: all var(--transition-time);
}

.btn--view-seats:hover, .btn--view-seats:active {
    background-color: var(--primary-color-shade1);
}