<li class="search-result-item"> <!-- data-index="${searchItem.id}" -->
    <div class="container--bus-general-details">
        <p class="bus-name"></p>
        <p class="bus-seat-config-name"></p>
        <div class="container--bus-rating-review">
            <div class="container--bus-rating"> <!-- rating wise classes -->
                <ion-icon name="star"></ion-icon>
                <p class="bus-rating"></p>
            </div>
            <div class="container--bus-reviews">
                <ion-icon class="bus-rating-icon" name="people-outline"></ion-icon>
                <p class="bus-reviews"></p>
            </div>
        </div>
    </div>
    <div class="container--bus-time-details">
        <p class="trip-duration"></p>
        <p class="container--boarding-time">
            <span class="container--location-icon">
                <ion-icon class="location-icon" name="ellipse-outline"></ion-icon>
            </span>
            <span class="boarding-time"></span>
        </p>
        <p class="container--dropping-time">
            <span class="container--location-icon">
                <ion-icon class="location-icon" name="ellipse-outline"></ion-icon>
            </span>
            <span class="dropping-time"></span>
            <span class="dropping-days"></span>
        </p>
        <p class="boarding-location"></p>
        <p class="dropping-location"></p>
    </div>
    <div class="container--bus-seat-cost">
        <p>Starts from</p>
        <p><span class="seat-cost-currency">INR</span> <span class="bus-seat-cost"></span></p>
    </div>
    <div class="container--bus-seat-available">
        <span class="bus-seat-available"></span> seats available
    </div>
    <div>
        <button class="btn--view-seats">
            View Seats
        </button>
    </div>
</li>