<div class="component--header">
    <div class="container container--header">
        <!-- <img class="logo" src="./img/logo.png" alt="Website Logo" /> -->
        <img class="header-logo" alt="Website Logo" />
        <!-- <nav class="nav nav--header">
            <ul>
                <li>
                    <a class="btn btn--link nav-link" href="#" route-link="/search">Search</a>
                </li>
                <li>
                    <a class="btn btn--link nav-link" href="https://www.google.com">Not used</a>
                </li>
                <li>
                    <a class="btn btn--link container--user-profile nav-link" href="#">
                        <img class="user-profile-pic" src="./img/profile-pic-generic.webp" alt="User profile pic" />
                        <ion-icon name="chevron-down-outline"></ion-icon>
                    </a>
                </li>
            </ul>
        </nav> -->
    </div>
</div>