.component--search-bar .form--search-bar {
    position: relative;
    display: grid;
    grid-template-columns: 1.6fr 1.6fr 1fr 1fr;
    gap: 3.2rem;

    width: 100%;
    margin-left: auto;
    margin-bottom: 2.4rem;
    background-color: var(--background-color);
    border-radius: 0.4rem;
    box-shadow: inset 0 0 0 0.1rem var(--light-grey);
}

.component--search-bar .form-group {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.8rem 0 0.4rem;
}

.component--search-bar .form--search-bar label {
    font-size: 1.4rem;
    margin: 0 0 0.4rem 0.1rem;
    color: var(--dark-grey);
}


.component--search-bar .form--search-bar input {
    display: block;
    color: inherit;
    font-family: inherit;
    font-size: 1.6rem;
    border: none;
    padding-bottom: 0.2rem;

    height: 2.4rem;
    
    background-color: transparent;
    
    border-bottom: 0.2rem solid transparent;
    transition: all var(--transition-time);
}

.component--search-bar .form--search-bar input:focus {
    outline: none;
    border-bottom: 0.2rem solid var(--primary-color);
}

.component--search-bar .form--search-bar .btn--search ion-icon {
    height: 1.8rem;
    width: 1.8rem;
    --ionicon-stroke-width: 6.2rem;
}

.component--search-bar .form--search-bar .btn--search, 
.component--search-bar .form--search-bar .btn--search:visited {
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding: 0 1rem;

    height: 100%;
    width: 100%;
    
    background-color: var(--primary-color);
    color: var(--white-color);

    border: none;
    border-radius: 0 0.4rem 0.4rem 0;

    font-weight: 700;
    font-family: inherit;
    font-size: 1.6rem;
}

.component--search-bar .form--search-bar .btn--search:hover, 
.component--search-bar .form--search-bar .btn--search:active {
    background-color: var(--primary-color-shade1);
}

.component--search-bar .form-group--boarding {
    padding-left: 2.4rem;
}

.component--search-bar .form-group--dropping-point::after, 
.component--search-bar .form-group--boarding::after {
    position: absolute;
    display: block;
    top: 10%;
    right: -1.6rem; /* Gap between element is 3.2rem this code centers after to mid of gap */
    content: "";
    height: 80%;
    width: 0.1rem;
    background-color: var(--light-grey);
}

.component--search-bar .btn--toggle-src-dest {
    cursor: pointer;
    position: absolute;
    
    display: flex;
    align-items: center;
    justify-content: center;

    top: 50%;
    right: -1.6rem;
    transform: translate(50%, -50%);
    
    height: 2.4rem;
    width: 2.4rem;

    color: var(--dark-grey);
    background-color: var(--background-color);
    
    border: none;

    z-index: 2;
}

.component--search-bar .btn--toggle-src-dest > ion-icon {
    height: 1.6rem;
    width: 1.6rem;
    --ionicon-stroke-width: 3rem;
}

/**************************/
/*     BELOW 784px        */
/**************************/
@media(max-width: 49em) {
    .component--search-bar .form--search-bar {
        grid-template-columns: 1fr 1fr;
    }

    .component--search-bar .form-group--boarding,
    .component--search-bar .form-group--dropping-point {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .component--search-bar .form-group--boarding-date {
        padding-left: 2.4rem;
    }

    .component--search-bar .form-group--boarding,
    .component--search-bar .form-group--dropping-point {
        grid-column: 1/-1;
    }

    .component--search-bar .form-group--dropping-point::after, 
    .component--search-bar .form-group--boarding::after {
        left: 2.5%;
        height: 0.1rem;
        top: calc(100% + 0.8rem);
        width: 95%;
        background-color: var(--light-grey);
    }

    .component--search-bar .btn--toggle-src-dest {
        top: calc(100% + 0.8rem);
        left: 50%;
        transform: translate(-50%,-50%) rotate(90deg);
    }

    .component--search-bar .form-group--boarding .error-message--form,
    .component--search-bar .form-group--dropping-point .error-message--form {
        bottom: -3.1rem;
    }
}